*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Jost", sans-serif;
}
.list_left ul{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    gap: 30px;
    padding-left: 100px;
}
.list_left ul li:hover{
    color: #fd2122;
}
.list_left ul a{
    color: rgb(42, 42, 42);
    text-decoration: none;
}
.list_right ul{
    list-style-type: none;
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    gap: 30px;
    padding-right: 100px;
}
.list_right ul li:hover{
    color: #fd2122;
}
.list_right ul a{
    color: rgb(42, 42, 42);
    text-decoration: none;
}
.list_right ul i:hover{
    color: #fd2122;
}
.header_content{
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-size: 1.2rem;
}
.hd_list ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.hd_list ul li:hover{
    color: #fd2122;
}
.hd_img{
    padding-left: 100px;
}
.hd_list ul a{
    text-decoration: none;
    color: black;
}
.hd_list select{
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    width: 10%;
}
.hd_list select:hover{
    width: 100px;
}
.hd_menu{
    display: none;
}
.hd_icons a{
    color: black;
    margin: 0 20px 0 0;
    font-size: 1.7rem;
}
.hd_icons a:hover{
    color: #fd2122;
}
.hd_icons input{
    display: none;
}
.hd_offer{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
}
.hd_offer p{
    padding-top: 10px;
}
.hd_offer p a{
    color: #f73636;
    font-size: larger;
}
.hd_container{
    display:flex;
    width: 100%;
}
.left_container{
    width: 25%;
    background-color: rgb(20, 19, 19);
    height: 100vh;
}
.left_container ul{
    box-shadow: 0px 10px 10px 0px grey;
}
.left_container ul a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 20px 20px;
}
.left_container ul a:hover{
    color: #fd2122;
}
.right_container{
    width: 100%;
    height: 100vh;
    background-image: url("./images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.right_container ul{
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    padding-top: 20px;
}
.right_container ul a{
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
}
.hd_button{
    padding-left: 65%;
    padding-top: 85vh;
}
.btn1{
    background-color: black;
    color: white;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}
.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.btn2{
    background-color: white;
    color: black;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}
.btn2:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}